<div class="container col-md-12 mt-0">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Credit Card</h3>

            </div>
            <div class="card-body">
                <form (ngSubmit)="apply()">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" [(ngModel)]="firstname" name="firstname" placeholder="First name" required>

                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" [(ngModel)]="lastname" name="lastname"
                            placeholder="Second name" required>
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-caret-right"></i></span>
                        </div>
                        <input type="number" class="form-control" [(ngModel)]="age" name="age"
                            placeholder="Age" required>
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                        </div>
                        <input type="text" class="form-control" [(ngModel)]="pancard" name="pancard"
                            placeholder="PANcard" required>
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-caret-right"></i></span>
                        </div>
                        <input type="text" class="form-control"[(ngModel)]="accountnumber" name="accountnumber"
                            placeholder="Accountnumber" required>
                    </div>


                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-id-card"></i></span>
                        </div>
                        <input type="text" class="form-control" [(ngModel)]="aadhar" name="aadhar"
                            placeholder="AAdhar" id="reg_password" required>
                    </div>


                    <div>
                        <input type="submit" value="Apply" class="btn float-right login_btn " style="width:50%">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- table -->
<table class="table table-dark" style="margin-top:180px ;">
    <thead>
      <tr>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Age</th>
        <th scope="col">PanCard</th>
        <th scope="col">Aadhar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dummyarray">
        <td>{{data.firstname}}</td>
        <td>{{data.lastname}}</td>
        <td>{{data.age}}</td>
        <td>{{data.pancard}}</td>
        <td>{{data.aadhar}}</td>
      </tr>
    </tbody>
  </table>